<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.spring.dao.LibraryDAO">
	<select id="getList" resultType="com.ezen.spring.domain.LibraryVO">
		select * from booklist 
		<include refid="search"></include>
		order by id desc 
		limit #{pageStart}, #{qty}
	</select>
<!-- 8 line include refid search -->
	<select id="getTotal" resultType="int">
		select count(id) from booklist	
	</select>
	
	<!-- search 동적 쿼리 -->
	<sql id="search">
		<if test="type!=null">
			<trim prefix="and (" suffix=")" suffixOverrides="or">
				<foreach collection="typeToArray" item="type">
					<trim suffix="or">
						<choose>
							<when test="type == 't'.toString()">
								bookName like concat('%',#{keyword},'%')
							</when>
							
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
</mapper>